

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Categories &mdash; Shopinvader 1 documentation</title>
  

  
  
  
  

  

  
  
    

  

  
  
    <link rel="stylesheet" href="../../_static/css/theme.css" type="text/css" />
  

  

  
        <link rel="index" title="Index"
              href="../../genindex.html"/>
        <link rel="search" title="Search" href="../../search.html"/>
    <link rel="top" title="Shopinvader 1 documentation" href="../../index.html"/>
        <link rel="up" title="Store components" href="index.html"/>
        <link rel="next" title="Cart" href="cart.html"/>
        <link rel="prev" title="Addresses" href="addresses.html"/> 

  
  <script src="../../_static/js/modernizr.min.js"></script>

</head>

<body class="wy-body-for-nav" role="document">

   
  <div class="wy-grid-for-nav">

    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search">
          

          
            <a href="../../index.html" class="icon icon-home"> Shopinvader
          

          
          </a>

          
            
            
              <div class="version">
                for odoo 8
              </div>
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../../introduction.html">What is Shopinvader</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../store_config/index.html">Store configuration</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../backend/index.html">Backend</a></li>
<li class="toctree-l1 current"><a class="reference internal" href="../index.html">Frontend</a><ul class="current">
<li class="toctree-l2 current"><a class="reference internal" href="index.html">Store components</a><ul class="current">
<li class="toctree-l3"><a class="reference internal" href="addresses.html">Addresses</a></li>
<li class="toctree-l3 current"><a class="current reference internal" href="#">Categories</a><ul>
<li class="toctree-l4"><a class="reference internal" href="#attibutes">Attibutes</a></li>
</ul>
</li>
<li class="toctree-l3"><a class="reference internal" href="cart.html">Cart</a></li>
<li class="toctree-l3"><a class="reference internal" href="cart.html#cart-item">Cart item</a></li>
<li class="toctree-l3"><a class="reference internal" href="customer.html">Customer</a></li>
<li class="toctree-l3"><a class="reference internal" href="notifications.html">Notifications</a></li>
<li class="toctree-l3"><a class="reference internal" href="products.html">Products</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../index.html#introduction">Introduction</a></li>
<li class="toctree-l2"><a class="reference internal" href="../index.html#getting-started">Getting Started</a></li>
</ul>
</li>
</ul>

            
          
        </div>
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" role="navigation" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../../index.html">Shopinvader</a>
        
      </nav>


      
      <div class="wy-nav-content">
        <div class="rst-content">
          















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="../../index.html">Docs</a> &raquo;</li>
        
          <li><a href="../index.html">Frontend</a> &raquo;</li>
        
          <li><a href="index.html">Store components</a> &raquo;</li>
        
      <li>Categories</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
            
            <a href="../../_sources/frontend/components/categories.rst.txt" rel="nofollow"> View page source</a>
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="categories">
<span id="id1"></span><h1>Categories<a class="headerlink" href="#categories" title="Permalink to this headline">¶</a></h1>
<p>You can get categories via <code class="docutils literal"><span class="pre">store.categories</span></code> global variable.
This variable is a collection of categories stored in Algolia.</p>
<div class="section" id="attibutes">
<h2>Attibutes<a class="headerlink" href="#attibutes" title="Permalink to this headline">¶</a></h2>
<table border="1" class="colwidths-given docutils" id="id2">
<caption><span class="caption-text">store.categories item attributes</span><a class="headerlink" href="#id2" title="Permalink to this table">¶</a></caption>
<colgroup>
<col width="15%" />
<col width="15%" />
<col width="70%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Name</th>
<th class="head">Type</th>
<th class="head">Desciption</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td>description</td>
<td>String</td>
<td>Category’s description</td>
</tr>
<tr class="row-odd"><td>childs</td>
<td>Array</td>
<td>Sub categories</td>
</tr>
<tr class="row-even"><td>filters</td>
<td>Array</td>
<td>Categories faceting filters, list of product’s attribute</td>
</tr>
<tr class="row-odd"><td>level</td>
<td>String</td>
<td>category’s level in categories tree</td>
</tr>
<tr class="row-even"><td>id</td>
<td>Integer</td>
<td>Category ID</td>
</tr>
<tr class="row-odd"><td>images</td>
<td>Array</td>
<td>URL image, 4 image sizes are available for earch item (small, large, medium, original)</td>
</tr>
<tr class="row-even"><td>objectID</td>
<td>Integer</td>
<td>Category ID</td>
</tr>
<tr class="row-odd"><td>meta_description</td>
<td>String</td>
<td>meta description tag value.</td>
</tr>
<tr class="row-even"><td>meta_keywords</td>
<td>String</td>
<td>meta keyword tag value.</td>
</tr>
<tr class="row-odd"><td>name</td>
<td>String</td>
<td>Category name</td>
</tr>
<tr class="row-even"><td>parent</td>
<td>Array</td>
<td>List of parent categories</td>
</tr>
<tr class="row-odd"><td>redirect_url_key</td>
<td>Array</td>
<td>List URL redirection (HTTP status 301)</td>
</tr>
<tr class="row-even"><td>seo_title</td>
<td>String</td>
<td>Category page Title , title tag value</td>
</tr>
<tr class="row-odd"><td>short_description</td>
<td>String</td>
<td>&#160;</td>
</tr>
<tr class="row-even"><td>subtitle</td>
<td>String</td>
<td>Category short description</td>
</tr>
<tr class="row-odd"><td>url_key</td>
<td>String</td>
<td>Category relative URL</td>
</tr>
</tbody>
</table>
<dl class="docutils">
<dt>Example :</dt>
<dd><p class="first">Display categories list.</p>
<div class="last highlight-liquid"><div class="highlight"><pre><span></span>&lt;ul&gt;
  <span class="p">{%</span><span class="w"> </span><span class="nt">for</span><span class="w"> </span>category<span class="w"> </span>in<span class="w"> </span>store.categories<span class="w"> </span><span class="p">%}</span>
    &lt;li&gt;
      &lt;a href=&quot;<span class="p">{%</span><span class="w"> </span><span class="nt">path_to</span><span class="w"> </span>category<span class="w"> </span><span class="p">%}</span>&quot;&gt;
        <span class="p">{{</span><span class="nv">category</span><span class="p">.</span><span class="nv">name</span><span class="p">}}</span>
      &lt;/a&gt;
    &lt;/li&gt;
  <span class="p">{%</span><span class="w"> </span><span class="nt">endfor</span><span class="w"> </span><span class="p">%}</span>
&lt;/ul&gt;
</pre></div>
</div>
</dd>
</dl>
</div>
</div>


           </div>
           <div class="articleComments">
            
           </div>
          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="cart.html" class="btn btn-neutral float-right" title="Cart" accesskey="n" rel="next">Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
        <a href="addresses.html" class="btn btn-neutral" title="Addresses" accesskey="p" rel="prev"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright 2018, Akretion.

    </p>
  </div>
  Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a <a href="https://github.com/snide/sphinx_rtd_theme">theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  


  

    <script type="text/javascript">
        var DOCUMENTATION_OPTIONS = {
            URL_ROOT:'../../',
            VERSION:'1',
            COLLAPSE_INDEX:false,
            FILE_SUFFIX:'.html',
            HAS_SOURCE:  true,
            SOURCELINK_SUFFIX: '.txt'
        };
    </script>
      <script type="text/javascript" src="../../_static/jquery.js"></script>
      <script type="text/javascript" src="../../_static/underscore.js"></script>
      <script type="text/javascript" src="../../_static/doctools.js"></script>

  

  
  
    <script type="text/javascript" src="../../_static/js/theme.js"></script>
  

  
  
  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.StickyNav.enable();
      });
  </script>
   

</body>
</html>