

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Store components &mdash; Shopinvader 1 documentation</title>
  

  
  
  
  

  

  
  
    

  

  
  
    <link rel="stylesheet" href="../../_static/css/theme.css" type="text/css" />
  

  

  
        <link rel="index" title="Index"
              href="../../genindex.html"/>
        <link rel="search" title="Search" href="../../search.html"/>
    <link rel="top" title="Shopinvader 1 documentation" href="../../index.html"/>
        <link rel="up" title="Frontend" href="../index.html"/>
        <link rel="next" title="Addresses" href="addresses.html"/>
        <link rel="prev" title="Frontend" href="../index.html"/> 

  
  <script src="../../_static/js/modernizr.min.js"></script>

</head>

<body class="wy-body-for-nav" role="document">

   
  <div class="wy-grid-for-nav">

    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search">
          

          
            <a href="../../index.html" class="icon icon-home"> Shopinvader
          

          
          </a>

          
            
            
              <div class="version">
                for odoo 8
              </div>
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../../introduction.html">What is Shopinvader</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../store_config/index.html">Store configuration</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../backend/index.html">Backend</a></li>
<li class="toctree-l1 current"><a class="reference internal" href="../index.html">Frontend</a><ul class="current">
<li class="toctree-l2 current"><a class="current reference internal" href="#">Store components</a><ul>
<li class="toctree-l3"><a class="reference internal" href="addresses.html">Addresses</a></li>
<li class="toctree-l3"><a class="reference internal" href="categories.html">Categories</a></li>
<li class="toctree-l3"><a class="reference internal" href="cart.html">Cart</a></li>
<li class="toctree-l3"><a class="reference internal" href="cart.html#cart-item">Cart item</a></li>
<li class="toctree-l3"><a class="reference internal" href="customer.html">Customer</a></li>
<li class="toctree-l3"><a class="reference internal" href="notifications.html">Notifications</a></li>
<li class="toctree-l3"><a class="reference internal" href="products.html">Products</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../index.html#introduction">Introduction</a></li>
<li class="toctree-l2"><a class="reference internal" href="../index.html#getting-started">Getting Started</a></li>
</ul>
</li>
</ul>

            
          
        </div>
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" role="navigation" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../../index.html">Shopinvader</a>
        
      </nav>


      
      <div class="wy-nav-content">
        <div class="rst-content">
          















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="../../index.html">Docs</a> &raquo;</li>
        
          <li><a href="../index.html">Frontend</a> &raquo;</li>
        
      <li>Store components</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
            
            <a href="../../_sources/frontend/components/index.rst.txt" rel="nofollow"> View page source</a>
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="store-components">
<h1>Store components<a class="headerlink" href="#store-components" title="Permalink to this headline">¶</a></h1>
<div class="toctree-wrapper compound">
<ul>
<li class="toctree-l1"><a class="reference internal" href="addresses.html">Addresses</a><ul>
<li class="toctree-l2"><a class="reference internal" href="addresses.html#attributes">Attributes</a><ul>
<li class="toctree-l3"><a class="reference internal" href="addresses.html#actions">Actions</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="addresses.html#add-shipping-or-billing-address">Add  shipping or billing address</a></li>
<li class="toctree-l2"><a class="reference internal" href="addresses.html#update-address">Update address</a></li>
<li class="toctree-l2"><a class="reference internal" href="addresses.html#remove-address">Remove address</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="categories.html">Categories</a><ul>
<li class="toctree-l2"><a class="reference internal" href="categories.html#attibutes">Attibutes</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="cart.html">Cart</a><ul>
<li class="toctree-l2"><a class="reference internal" href="cart.html#attributes">Attributes</a><ul>
<li class="toctree-l3"><a class="reference internal" href="cart.html#cart-header">Cart header</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="cart.html#actions">Actions</a><ul>
<li class="toctree-l3"><a class="reference internal" href="cart.html#checkout-process">Checkout process</a></li>
<li class="toctree-l3"><a class="reference internal" href="cart.html#select-shipping-and-billing-address">Select Shipping and billing address</a></li>
<li class="toctree-l3"><a class="reference internal" href="cart.html#select-shipping-method">Select shipping method</a></li>
<li class="toctree-l3"><a class="reference internal" href="cart.html#select-payment-method">Select payment method</a></li>
</ul>
</li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="cart.html#cart-item">Cart item</a><ul>
<li class="toctree-l2"><a class="reference internal" href="cart.html#id1">Attributes</a></li>
<li class="toctree-l2"><a class="reference internal" href="cart.html#id2">Actions</a><ul>
<li class="toctree-l3"><a class="reference internal" href="cart.html#add-product-to-cart">Add product to cart</a></li>
<li class="toctree-l3"><a class="reference internal" href="cart.html#update-quantity">Update quantity</a></li>
<li class="toctree-l3"><a class="reference internal" href="cart.html#remove-product-to-cart">Remove product to cart</a></li>
</ul>
</li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="customer.html">Customer</a></li>
<li class="toctree-l1"><a class="reference internal" href="notifications.html">Notifications</a></li>
<li class="toctree-l1"><a class="reference internal" href="products.html">Products</a><ul>
<li class="toctree-l2"><a class="reference internal" href="products.html#attributes">Attributes</a><ul>
<li class="toctree-l3"><a class="reference internal" href="products.html#images">Images</a></li>
<li class="toctree-l3"><a class="reference internal" href="products.html#price">Price</a></li>
<li class="toctree-l3"><a class="reference internal" href="products.html#rating">Rating</a><ul>
<li class="toctree-l4"><a class="reference internal" href="products.html#summary">Summary</a></li>
<li class="toctree-l4"><a class="reference internal" href="products.html#review">Review</a></li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
<p>Shopinvader provides some new liquid variable to add e-commerce feature to
LocomotiveCMS.</p>
<p>E-commerce component are stored in <code class="docutils literal"><span class="pre">store</span></code> liquid global variable.</p>
</div>


           </div>
           <div class="articleComments">
            
           </div>
          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="addresses.html" class="btn btn-neutral float-right" title="Addresses" accesskey="n" rel="next">Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
        <a href="../index.html" class="btn btn-neutral" title="Frontend" accesskey="p" rel="prev"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright 2018, Akretion.

    </p>
  </div>
  Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a <a href="https://github.com/snide/sphinx_rtd_theme">theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  


  

    <script type="text/javascript">
        var DOCUMENTATION_OPTIONS = {
            URL_ROOT:'../../',
            VERSION:'1',
            COLLAPSE_INDEX:false,
            FILE_SUFFIX:'.html',
            HAS_SOURCE:  true,
            SOURCELINK_SUFFIX: '.txt'
        };
    </script>
      <script type="text/javascript" src="../../_static/jquery.js"></script>
      <script type="text/javascript" src="../../_static/underscore.js"></script>
      <script type="text/javascript" src="../../_static/doctools.js"></script>

  

  
  
    <script type="text/javascript" src="../../_static/js/theme.js"></script>
  

  
  
  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.StickyNav.enable();
      });
  </script>
   

</body>
</html>